<h3> 编辑Book页</h3>

<%= render :partial => 'form' %>

<!--
<form action='/books/<%= @book.id %>' method=POST>
  <input type='hidden' name='_method'  value='PUT'/>

  标题:  <input type='text' name='title' value='<%= @book.title %>'/> <br/>
  作者: <input type='text' name='author' value='<%= @book.author %>' /> <br/>

  <input type='submit' />
</form>
-->
